{% extends 'base.html' %}
{% block title %}AddFriends {{super()}}{% endblock %}
{% block head %}
    {{super()}}
{% endblock %}
{% block navbar %}{{super()}}{% endblock %}
{% block body %}
    {# call super() if you want to include code from base.html template #}
    {{super()}}
    <h1 style="margin: 30px auto;width: 800px;padding: 8px;">Add new Friend</h1>
    <div class="my_container">
        <form action="/app/addfriends" method="POST">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
            
            {{ form.address.label }}
            {{ form.address(class="form-control") }}
            
            {{ form.age.label }}
            {{ form.age(class="form-control") }}
            <br>
            {{ form.submit(class='btn btn-primary') }}
            <input Type="submit" class='btn btn-primary' value="Cancel" onClick="history.go(-1);return true;">
        </form>
    </div>
{% endblock %}