html body{
    
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    background-color: beige;
}

.my_container{
            width: 800px;
            margin: 30px auto;
            padding: 8px;
            border: 2px solid grey;
            border-radius: 5px;
            background-color: beige;
        }