{% extends 'base.html' %}
{% block title %}Friends {{super()}}{% endblock %}
{% block head %}
    {{super()}}
    <style>
        .my_container{
            width: 800px;
            margin: 30px auto;
            padding: 8px;
            border: 2px solid grey;
            border-radius: 5px;
            background-color: beige;
        }
    </style>
{% endblock %}
{% block navbar %}{{super()}}{% endblock %}
{% block body %}
    {# call super() if you want to include code from base.html template #}
    {{super()}}
    <h1 style="margin: 30px auto;width: 800px;padding: 8px;">Welcome to Friends App - {{user}}</h1>
    <div class="my_container">
        <form action="/friends" method="POST">
                <input type="submit" class="btn btn-primary" name="submit" value="Add Friend">
                <input type="submit" class="btn btn-primary" name="submit" value="Log Out">
        </form> 
    </div>
{% endblock %}