{% extends 'base.html' %}
{% block title %}Friends {{super()}}{% endblock %}
{% block head %}
    {{super()}}
{% endblock %}
{% block navbar %}{{super()}}{% endblock %}
{% block body %}
    {# call super() if you want to include code from base.html template #}
    {{super()}}
    <h1 style="margin: 30px auto;width: 800px;padding: 8px;">Friend</h1>
    <div class="my_container">
        <h1>Here will be table of your friends</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for item in allfriends %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.age}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}